body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 50;
  color: green
}

.background {
  min-height: 100vh;
  width: 100%;
  background-color: blueviolet;
}

.centered {
  display: flex;
  justify-content: center;
}

.header {
  margin-top: 0;
}

.image {
  width: 90%;
}

@media only screen and (min-width: 600px) {
  .image {
    width: 70%;
  }
}

.blue {
  color: lightblue;
}

.red {
  color: red;
}


.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
